<form action="" method="GET">
    <div class='container'>
        <p></p>
        Search:<br>
        <input type="text" name="searchKey" size="50" placeholder="Please enter a search term"><br>
        <button type="submit" formaction="/search">Let's go!</button>
    </div>
</form>